<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex justify-content-between align-items-center py-3 border-bottom navbar navbar-light bg-light">
    <h5><%= link_to "Wikinomous", articles_path %><h5>
    <h6><%= link_to "New Article", new_article_path %></h6>
    </div>
    <%= yield %>
  </body>
</html>


